#home-link {
    text-decoration: none;
    vertical-align: middle;

    color: #00DAFF;
    font-family: "Open Sans", "sans-serif";
    font-size: 1.5rem;

    line-height: 1.5rem;
}

#error-message-container {
    position: absolute;
    vertical-align: middle;
    top: 10%;
    height: 80%;
    width: 100%;
}

#error-404 {
    color: #004A57;
    font-family: "Open Sans", "sans-serif";
    font-size: 8rem;

    height: 5rem;
    width: 100%;

    text-align: center;
}

#page-not-found {
    color: #004A57;
    font-family: "Open Sans", "sans-serif";
    font-size: 4rem;

    width: 100%;

    text-align: center;
}

#home-button {
    display: inline-block;

    height: 5rem;
    width: 8rem;

    box-shadow: 0 0 5px #00DAFF;

    left: 50%;
}
#home-button:hover {
    box-shadow: 0 0 15px #00DAFF;
}



@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
    #error-404 {
        font-size: 8rem;
    }
    #page-not-found {
        top: 45%;
        font-size: 2rem;
    }
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {
    #error-404 {
        font-size: 9rem;
    }
    #page-not-found {
        top: 45%;
        font-size: 2rem;
    }
}