html, body {
    scroll-behavior: smooth;
    background: #0C1424;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none !important;
}

@-webkit-keyframes loadNavbar {
    0% {
        top: -4.5rem;
    }
    100% {
        top: 0rem;
    }
}
@-moz-keyframes loadNavbar {
    0% {
        top: -4.5rem;
    }
    100% {
        top: 0rem;
    }
}
@keyframes loadNavbar {
    0% {
        top: -4.5rem;
    }
    100% {
        top: 0rem;
    }
}

#navbar {
    position: fixed;
    z-index: 10000;

    -webkit-animation: loadNavbar 1s ease forwards;
    animation: loadNavbar 1s ease forwards;
}

#projects {
    height: 100%;
    width: 100%;
}


/********************* MEDIA QUERIES FOR MOBILE SCALING *************************/

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
    #intro-message {
        font-size: 1rem;
    }

    #about-message {
        font-size: 0.8rem;
    }

    #experience {
        height: 200%;
    }

    .section-title {
        font-size: 1.25rem;
    }

    .logo {
        height: 3rem;
        width: 3rem;
    }

    .experience-title {
        font-size: 1rem;
    }

    .experience-timeline {
        font-size: 0.9rem;
    }

    .experience-description {
        font-size: 0.8rem;
    }
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {
    #intro-message {
        font-size: 1rem;
    }

    #about-message {
        font-size: 1rem;
    }


    #experience {
        height: 200%;
    }

    .section-title {
        font-size: 1.25rem;
    }

    .logo {
        height: 3rem;
        width: 3rem;
    }

    .experience-title {
        font-size: 1.2rem;
    }

    .experience-timeline {
        font-size: 0.9rem;
    }

    .experience-description {
        font-size: 1rem;
    }
}