html, body {
    scroll-behavior: smooth;
    background: #000C21;
    margin: 0;
    padding: 0;
}

@-webkit-keyframes loadNavbar {
    0% {
        top: -4.5rem;
    }
    100% {
        top: 0rem;
    }
}
@keyframes loadNavbar {
    0% {
        top: -4.5rem;
    }
    100% {
        top: 0rem;
    }
}

#navbar {
    position: fixed;
    z-index: 10000;

    animation-name: loadNavbar;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;

    -webkit-animation-name: loadNavbar;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease;
}

#introduction {
    color: #fff;

    height: 100%;
    width: 100%;
    text-align: center;
    align-content: center;
}

@-webkit-keyframes loadIntroMessage {
    0% {
        opacity: 0;
        top: 45%;
    }
    100% {
        opacity: 1;
        top: 40%;
    }
}
@keyframes loadIntroMessage {
    0% {
        opacity: 0;
        top: 45%;
    }
    100% {
        opacity: 1;
        top: 40%;
    }
}

#intro-message {
    position: absolute;
    opacity: 0;
    font-family: "Karla", "san-serif";
    font-weight: 100;
    font-size: 1.5em;

    top: 45%;
    margin-left: 10%;
    margin-right: 10%;

    animation-name: loadIntroMessage;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;

    -webkit-animation-name: loadIntroMessage;
    -webkit-animation-delay: 1s;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease;
}

.ref-cont {
    display: inline-block;
    font-size: 2rem;

    top: 85%;
}
.ref-cont:hover {
    box-shadow: 0 0 3px #00DAFF;
}

@-webkit-keyframes refButtonClick {
    0% {
        height: 5rem;
        width: 5rem;
        font-size: 2rem;
    }
    50% {
        height: 4rem;
        width: 4rem;
        font-size: 1.75rem;
    }
    100% {
        height: 5rem;
        width: 5rem;
        font-size: 2rem;
    }
}
@keyframes refButtonClick {
    0% {
        height: 5rem;
        width: 5rem;
        font-size: 2rem;
    }
    50% {
        height: 4rem;
        width: 4rem;
        font-size: 1.75rem;
    }
    100% {
        height: 5rem;
        width: 5rem;
        font-size: 2rem;
    }
}
.animate-ref-button-click {
    animation-name: refButtonClick;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

#mail-button {
    position: absolute;
    height: 5rem;
    width: 5rem;

    margin-left: -10rem;
}

#github-button {
    position: absolute;
    height: 5rem;
    width: 5rem;

    margin-left: -2rem;
}

#linkedin-button {
    position: absolute;
    height: 5rem;
    width: 5rem;

    margin-left: 6rem;
}

#mail-ref {
    margin-top: 30%;
    color: #fff;
}

#github-ref {
    margin-top: 30%;
    color: #fff;
}

#linkedin-ref {
    margin-top: 30%;
    color: #fff;
}

.section-title {
    font-family: "Karla", "sans-serif";
    font-size: 1.5rem;
    font-weight: 100;

    margin-top: 6rem;
}

@-webkit-keyframes expandBreak {
    0% {
        width: 0%;
        left: -12.5%;
    }
    100% {
        width: 75%;
        left: 12.5%;
    }
}
@keyframes expandBreak {
    0% {
        width: 0%;
        left: -12.5%;
    }
    100% {
        width: 75%;
        left: 12.5%;
    }
}
.expand-break {
    animation-name: expandBreak;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

#about-section-break {
    position: absolute;
    color: #fff;
    background-image: radial-gradient(#050B16, white, #050B16);
    
    top: 8rem;
    left: 12.5%;

    height: 0.1rem;
    width: 75%;
}



#about {
    position: absolute;
    color: #fff;

    top: 100%;
    height: 100%;
    width: 100%;

    text-align: center;
}

#about-message {
    position: absolute;
    font-family: "Karla", "san-serif";
    font-size: 1.25rem;
    font-weight: 100;

    top: 10rem;
    margin-left: 12.5%;
    margin-right: 12.5%;
    text-align: justify;
}

.about-links {
    text-decoration-line: none;
    color: #004A57;
    font-family: "Karla", "sans-serif";
    font-size: 1em;
    font-weight: 100;
}
.about-links:hover {
    color: #00DAFF;
}



#experience {
    position: absolute;
    color: #fff;

    top: 200%;
    height: 150%;
    width: 100%;

    text-align: center;
}

#experience-section-break {
    position: absolute;
    color: #fff;
    background-image: radial-gradient(#050B16, white, #050B16);
    
    top: 8rem;
    left: 12.5%;

    height: 0.1rem;
    width: 75%;
}

#experience-partition {
    position: absolute;
    font-family: "Karla", "sans-serif";
    
    top: 9rem;
    left: 10%;

    height: 80%;
    width: 80%;
}

.title {
    display: flex;
    text-align: left;

    height: 5rem;
    width: 100%;
}

.logo-container {
    display: inline-block;
    white-space: nowrap;
    text-align: center;

    height: 5rem;
    width: 5rem;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.logo {
    height: 4rem;
    width: 4rem;

    max-height: 5rem;
    max-width: 5rem;

    vertical-align: middle;
}

.experience-title {
    font-size: 1.5rem;
}

.outer-title-container {
    display: table;
    height: 5rem;
    overflow: hidden;
}

.inner-title-container {
    display: table-cell;
    vertical-align: middle;
}

.experience-content-break {
    position: absolute;
    background:gray;
    box-shadow: 0 0 1px gray;
    
    height: 0.1rem;
    width: 90%;

    left: 5%;
}

.experience-content {
    width: 100%;
    text-align: left;
}

.experience-description {
    font-size: 1.2rem;

    margin-left: 0.7rem;
    margin-right: 3rem;
}













/********************* MEDIA QUERIES FOR MOBILE SCALING *************************/

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
    #about-message {
        font-size: 0.8rem;
    }

    .experience-description {
        font-size: 0.8rem;
    }
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {
    #about-message {
        font-size: 1rem;
    }

    .experience-description {
        font-size: 1rem;
    }
}