html,body {
  background: #0C1424;
  text-align: center;
}

#view-container {
  color: #FFFFFF;
  width: 100%;
  ;
}

#work-section-title {
  position: absolute;
  color: #FFFFFF;

  width: 100%;

  top: 4rem;

  font-family: "Open Sans", "sans-serif";
  font-weight: 100;
  font-size: 2em;
}

#work-partition {
  position: absolute;
    
  top: 10rem;

  height: fit-content;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5rem;

  justify-content: center;
  justify-items: center;

  display: grid flex;
  grid-template-columns: repeat(auto-fit, 20rem);
  grid-template-rows: repeat(auto-fit, 20rem);

  transition-timing-function: cubic-bezier();
  transition-duration: 1s;
}

.grid-item {
  align-self: center;
  display: inline-block;

  margin: 0.5rem;
}

#signature {
  display: inline-block;
  height: 2rem;
  top: calc(100% - 2.5rem);
}

#signature-link {
  color: #004A57;
  text-decoration: none;

  font-family: "Open Sans", "sans-serif";
  font-size: 0.8rem;
  font-weight: lighter;
}
#signature-link:hover {
  color: #00DAFF;
}