#navbar-container {
    display: inline-block;
    position: fixed;

    background: #101014;
    height: 4rem;
    width: 100%;
    text-align: center;
}

#navbar-container:hover {
    box-shadow: 0 10px 10px -10px black;
}

#name-title {
    color: #fff;
    font-family: "Karla", "sans-serif";

    font-size: 1.5rem;
    font-weight: 100;

    display: inline-block;
    text-align: center;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@-webkit-keyframes titleClick {
    0% {
        font-size: 1.5rem;
    }
    50% {
        font-size: 1.2rem;
    }
    100% {
        font-size: 1.5rem;
    }
}
@keyframes titleClick {
    0% {
        font-size: 1.5rem;
    }
    50% {
        font-size: 1.2rem;
    }
    100% {
        font-size: 1.5rem;
    }
}

.animate-title-click {
    animation-name: titleClick;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}