#navbar-component {
    height: 20rem;
    position: absolute;
}

#navbar-container {
    display: inline-block;
    position: fixed;

    background: #03070F;
    height: 4.5rem;
    width: 100%;
    text-align: center;

    overflow: auto;

    z-index: 1000;
}

#navbar-container:hover {
    box-shadow: 0 10px 10px -10px black;
}

#name-title {
    color: #fff;
    font-family: "Karla", "sans-serif";

    font-size: 1.5rem;
    font-weight: 100;
    margin-top: 1.5rem;
    margin-left: 6rem;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#title-panel {
    float: left;

    height: 100%;
    width: -moz-calc(100% - 6rem);
    width: -webkit-calc(100% - 6rem);
    width: calc(100% - 6rem);
}

#menu-panel {
    float: right;
    display: flex;
    align-items: center;
    padding: 0;

    color: #fff;

    height: 100%;
    width: 6rem;
}

#menu-symbol {
    margin-left: 2rem;
    font-size: 1.5rem;

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#menu-container {
    position: fixed;
    background: #03070F;
    border-radius: 0.2rem;

    height: 4rem;
    width: 15rem;
    z-index: 10;

    padding: 0;
    margin-left: calc(100% - 15rem);

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#menu-list {
    position: fixed;

    width: 15rem;
    margin-left: calc(100% - 15rem);
    color: #fff;
    z-index: 10;
}

.list-link {
    list-style-type: none;
    position: absolute;

    color: #fff;
    font-size: 1.2rem;
    font-family: "Karla", "sans-serif";

    width: 15rem;
    margin-left: calc(100% - 15rem);
    z-index: 1;

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}



@-webkit-keyframes titleClick {
    0% {
        color: #FFF;
        font-size: 1.5rem;
    }
    50% {
        color: #00DAFF;
        font-size: 1.2rem;
    }
    100% {
        color: #FFF;
        font-size: 1.5rem;
    }
}
@keyframes titleClick {
    0% {
        color: #FFF;
        font-size: 1.5rem;
    }
    50% {
        color: #00DAFF;
        font-size: 1.2rem;
    }
    100% {
        color: #FFF;
        font-size: 1.5rem;
    }
}
.animate-title-click {
    animation-name: titleClick;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}



@-webkit-keyframes lightNavBar {
    0% {
        box-shadow: 0 0px 0px 0px #00DAFF;
    }
    50% {
        box-shadow: 0 10px 10px -10px #00DAFF;
    }
    100% {
        box-shadow: 0 0px 0px 0px #00DAFF;
    }
}
@keyframes lightNavBar {
    0% {
        box-shadow: 0 0px 0px 0px #00DAFF;
    }
    50% {
        box-shadow: 0 10px 10px -10px #00DAFF;
    }
    100% {
        box-shadow: 0 0px 0px 0px #00DAFF;
    }
}
.light-navbar {
    animation-name: lightNavBar;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}



@-webkit-keyframes menuItemClick {
    0% {
        color: #FFF;
        font-size: 1rem;
    }
    50% {
        color: #00DAFF;
        font-size: 0.9rem;
    }
    100% {
        color: #FFF;
        font-size: 1rem;
    }
}
@keyframes menuItemClick {
    0% {
        color: #FFF;
        font-size: 1rem;
    }
    50% {
        color: #00DAFF;
        font-size: 0.9rem;
    }
    100% {
        color: #FFF;
        font-size: 1rem;
    }
}
.animate-menu-item-click {
    animation-name: menuItemClick;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}



.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}