#experience-component {
    color: #FFFFFF;
    height: 100%;
    width: 100%;
}

.section-title {
    font-family: "Open Sans", "sans-serif";
    font-size: 2rem;
    font-weight: 100;

    margin-top: 5.5rem;
}

#experience-title {
    position: absolute;
    color: #FFFFFF;

    width: 100%;

    font-family: "Open Sans", "sans-serif";
    font-weight: 100;
    font-size: 2em;
}

#experience-partition {
    position: absolute;
    font-family: "Karla", "sans-serif";
    
    top: 9rem;
    left: 10%;

    height: fit-content;
    width: 75%;
}

.experience-description {
    font-family: 'Open Sans', 'sans-serif';
    font-size: 1rem;

    margin-left: 0.7rem;
    margin-right: 3rem;
}

.experience-list-item {
    list-style-type: square;
}

#signature-link {
    color: #004A57;
    text-decoration: none;

    font-family: "Open Sans", "sans-serif";
    font-size: 0.8rem;
    font-weight: lighter;
}
#signature-link:hover {
    color: #00DAFF;
}




/********************* MEDIA QUERIES FOR MOBILE SCALING *************************/

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
    #experience-component {
        height: 225vh;
    }

    .section-title {
        font-size: 1.25rem;
    }

    .experience-description {
        font-size: 0.8rem;
    }
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {
    #experience {
        height: 225vh;
    }

    .section-title {
        font-size: 1.25rem;
    }

    .experience-description {
        font-size: 1rem;
    }
}